/*
Theme Name: GRapps - Namaskar
Theme URI: http://grapps.io
Description: Client Website - HP
Author: Jhonatan Cohen
Author URI: http://grapps.io
Version: 1.0.0
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@media screen {
  * {
    margin: 0;
    padding: 0; }
  body {
    background: white;
    font: 14px/1.4 Georgia, Serif; }
  .clear {
    clear: both; }
  .group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  * html .group, *:first-child + html .group {
    zoom: 1; }
  /* First selector = IE6, Second Selector = IE 7 */
  html {
    width: 100%; }
  body {
    width: 100%; }
  h1, h2, h3 {
    font-weight: normal;
    margin: 0 0 10px 0; }
  p {
    margin: 0 0 10px 0; }
  img {
    width: 100%;
    height: auto; }
  ul, ol {
    margin: 0 0 10px 0; }
  ol.commentlist {
    list-style: none; }
  ol.commentlist li.comment {
    border-bottom: 1px dotted #666;
    padding: 10px; }
  ol.commentlist li.comment div.vcard cite.fn {
    font-style: normal; }
  ol.commentlist li.comment div.vcard img.avatar {
    float: right;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment div.comment-meta {
    font-size: 10px; }
  ol.commentlist li.comment div.comment-meta a {
    color: #ccc; }
  ol.commentlist li.comment div.reply {
    font-size: 11px; }
  ol.commentlist li.comment div.reply a {
    font-weight: bold; }
  ol.commentlist li.comment ul.children {
    list-style: none;
    margin: 10px 0 0; }
  ol.commentlist li.comment ul.children li.depth-2 {
    border-left: 5px solid #555;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-3 {
    border-left: 5px solid #999;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-4 {
    border-left: 5px solid #bbb;
    margin: 0 0 10px 10px; }
  ol.commentlist li.even {
    background: #fff; }
  ol.commentlist li.odd {
    background: #f6f6f6; }
  ol.commentlist li.parent {
    border-left: 5px solid #111; } }

/* END screen media */
@media print {
  .do-not-print {
    display: none; }
  #comments {
    page-break-before: always; }
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    font-family: Garamond,"Times New Roman", serif;
    color: #000;
    background: none;
    font-size: 12pt; }
  h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif; }
  h1 {
    font-size: 19pt; }
  h2 {
    font-size: 17pt; }
  h3 {
    font-size: 15pt; }
  h4, h5, h6 {
    font-size: 12pt; }
  code {
    font: 10pt Courier, monospace; }
  blockquote {
    margin: 1.3em;
    padding: 1em; }
  img {
    display: block;
    margin: 1em 0; }
  a img {
    border: none; }
  table {
    margin: 1px;
    text-align: left; }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold; }
  td {
    border-bottom: 1px solid #333; }
  th, td {
    padding: 4px 10px 4px 0; }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  a {
    text-decoration: none;
    color: black; } }

/* END print media */
.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

.wrap-404 {
  background: url("img/bg_header2.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 90vh;
  color: #000; }
  .wrap-404 h2 {
    font-weight: bold; }
  .wrap-404 .btn-wrap {
    margin-top: 40px;
    color: #000; }

.tours-page {
  max-width: 1800px;
  margin: 0 auto; }
  .tours-page .main-banner {
    margin: 20px auto 0 auto; }
  .tours-page .tours-wrap {
    padding: 50px; }
  .tours-page .tour-wrap {
    margin-bottom: 50px; }
  .tours-page .tour-wrap a {
    text-decoration: none; }
  .tours-page .tour-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #CC904E;
    margin-bottom: 10px; }
  .tours-page .img-tour-wrap {
    max-height: 220px;
    overflow: hidden; }
  .tours-page .img-tour {
    width: 400px; }
  .tours-page .tour-list {
    list-style: none;
    padding: 20px 20px 40px 20px;
    border-radius: 0 0 25px 25px;
    min-height: 250px; }
  .tours-page .list-item {
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 400; }
  .tours-page .list-item:before {
    content: " ";
    display: inline-block;
    margin-right: 20px;
    width: 15px;
    height: 15px;
    background: url("img/bullet.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .tours-page .list-item a {
    color: #fff; }
  .tours-page .list-item:hover {
    text-decoration: underline; }

@media (max-width: 1199px) {
  .tours-page .tour-list {
    min-height: 250px; }
  .tours-page .tour-title {
    font-size: 22px; }
  .tours-page .list-item {
    font-size: 15px; }
  .tours-page .list-item:before {
    margin-right: 10px;
    position: relative;
    top: 2px; } }

@media (max-width: 991px) {
  .tours-page .tour-wrap {
    margin-bottom: 50px; }
  .tours-page .tour-list {
    padding: 20px 10px 30px 10px;
    border-radius: 0 0 25px 25px;
    min-height: 200px; }
  .tours-page .tour-title {
    font-size: 20px; }
  .tours-page .list-item {
    font-size: 12px; }
  .tours-page .list-item:before {
    margin-right: 10px;
    position: relative;
    top: 2px; } }

@media (max-width: 767px) {
  .tours-page .main-banner {
    margin: 15px auto 0 auto; }
  .tours-page .img-tour {
    width: 100%; }
  .tours-page .navbar-header, .tours-page .navbar-default {
    background: transparent; }
  .tours-page .navbar-collapse {
    background: #64612B; } }

.services-page {
  max-width: 1800px;
  margin: 0 auto; }
  .services-page .main-banner {
    margin: 15px auto 0 auto; }

.services-wrap {
  padding: 50px; }
  .services-wrap h2 {
    color: #CC904E;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px; }
  .services-wrap .content-wrap {
    font-size: 18px;
    color: #67696D; }
  .services-wrap .side-wrap {
    margin-top: 50px; }
  .services-wrap .img-services-wrap {
    border: 2px solid #185A69;
    max-width: 400px; }
  .services-wrap .side-content {
    max-width: 400px;
    background: #185A69;
    padding: 50px 10px 40px 25px;
    border-radius: 0 0 25px 25px;
    color: #fff;
    font-size: 26px; }
    .services-wrap .side-content a {
      color: #fff; }
    .services-wrap .side-content .phone-wrap {
      margin-bottom: 20px; }
    .services-wrap .side-content .img-phone {
      max-width: 70px;
      margin-right: 20px; }
    .services-wrap .side-content .img-email {
      max-width: 80px;
      margin-right: 10px; }

@media (max-width: 1199px) {
  .services-wrap .side-content {
    font-size: 18px; }
    .services-wrap .side-content .img-phone {
      max-width: 40px;
      margin-right: 20px; }
    .services-wrap .side-content .img-email {
      max-width: 50px;
      margin-right: 10px;
      margin-left: -5px; } }

@media (max-width: 991px) {
  .services-wrap {
    padding: 20px 15px; }
    .services-wrap h2 {
      font-size: 20px;
      margin-bottom: 10px; }
    .services-wrap .content-wrap {
      font-size: 14px; }
    .services-wrap .img-services-wrap {
      margin: 0 auto; }
    .services-wrap .side-content {
      margin: 0 auto; }
  .service-page .service-page .img-phone {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767px) {
  .services-page .navbar-header, .services-page .navbar-default {
    background: transparent; }
  .services-page .navbar-collapse {
    background: #64612B; } }

.single-tour-wrap {
  padding: 50px 20px;
  max-width: 1800px;
  margin: 0 auto; }
  .single-tour-wrap .main-banner {
    margin: 20px auto 0 auto; }
  .single-tour-wrap h2 {
    color: #CC904E;
    font-weight: bold;
    margin-bottom: 15px; }
  .single-tour-wrap .tours-wrap {
    padding: 50px; }
  .single-tour-wrap .tour-wrap {
    margin-bottom: 50px; }
  .single-tour-wrap .tour-wrap a {
    text-decoration: none; }
  .single-tour-wrap .tour-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #CC904E;
    margin-bottom: 10px; }
  .single-tour-wrap .img-tour-wrap {
    max-height: 220px;
    overflow: hidden; }
  .single-tour-wrap .img-tour {
    width: 400px; }
  .single-tour-wrap .tour-list {
    list-style: none;
    padding: 20px 20px 40px 20px;
    border-radius: 0 0 25px 25px;
    min-height: 250px; }
  .single-tour-wrap .list-item {
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 400; }
  .single-tour-wrap .list-item:before {
    content: " ";
    display: inline-block;
    margin-right: 20px;
    width: 15px;
    height: 15px;
    background: url("img/bullet.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .single-tour-wrap .tour-content {
    font-size: 18px;
    color: #67696D; }
    .single-tour-wrap .tour-content h3 {
      font-weight: bold; }
  .single-tour-wrap .list-item a {
    color: #fff !important; }
  .single-tour-wrap .list-item:hover {
    text-decoration: underline; }
  .single-tour-wrap .side-wrap {
    margin-top: 50px; }

.btn-booking {
  border: 1px solid #7F3B44;
  color: #7F3B44;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 15px; }

.btn-booking:hover {
  color: #fff;
  background: #7F3B44; }

.bottom-content {
  margin-top: 40px; }
  .bottom-content .booking-wrap .contact-wrap a {
    color: #67696D; }
  .bottom-content .booking-wrap .contact-wrap .phone-wrap {
    margin-top: 50px;
    color: #67696D;
    font-size: 22px; }
  .bottom-content .booking-wrap .contact-wrap .phone-wrap-mobile {
    margin-top: 30px; }
  .bottom-content .booking-wrap .contact-wrap .img-phone {
    position: relative;
    top: -2px;
    max-width: 70px;
    margin-right: 10px; }
  .bottom-content .booking-wrap .contact-wrap .email-wrap {
    margin-top: 30px;
    color: #67696D;
    font-size: 22px; }
  .bottom-content .booking-wrap .contact-wrap .img-email {
    max-width: 70px;
    margin-right: 10px; }
  .bottom-content .related-tour-wrap .img-tour-wrap {
    max-height: 180px; }
  .bottom-content .related-tour-wrap .tour-list {
    padding: 20px 20px 20px 20px;
    min-height: 200px; }
  .bottom-content .related-tour-wrap .list-item {
    font-size: 16px; }
  .bottom-content .related-tour-wrap .tour-title {
    position: absolute;
    left: 30px;
    top: 15px;
    color: #fff; }
  .bottom-content .related-tour-wrap .list-item a {
    color: #fff !important; }
  .bottom-content .related-tour-wrap .list-item:hover {
    text-decoration: underline; }

.single-tour-wrap .flexslider-single {
  margin: 40px auto;
  max-width: 700px; }

@media (max-width: 1199px) {
  .single-tour-wrap .tour-list {
    min-height: 250px; }
  .single-tour-wrap .tour-title {
    font-size: 22px; }
  .single-tour-wrap .list-item {
    font-size: 15px; }
  .single-tour-wrap .list-item:before {
    margin-right: 10px;
    position: relative;
    top: 2px; } }

@media (max-width: 991px) {
  .single-tour-wrap {
    padding: 50px 10px; }
    .single-tour-wrap .tour-wrap {
      margin-bottom: 50px; }
    .single-tour-wrap .tour-list {
      padding: 20px 10px 30px 20px;
      border-radius: 0 0 25px 25px;
      min-height: 0; }
    .single-tour-wrap .tour-content {
      font-size: 16px; }
      .single-tour-wrap .tour-content h3 {
        font-size: 18px; }
    .single-tour-wrap .list-item {
      font-size: 12px; }
    .single-tour-wrap .list-item:before {
      margin-right: 10px;
      position: relative;
      top: 2px; }
    .single-tour-wrap .related-tour-wrap {
      margin: 0 auto;
      max-width: 400px; }
    .single-tour-wrap .tour-wrap {
      max-width: 400px;
      margin: 0 auto; }
    .single-tour-wrap .img-tour-wrap {
      max-width: 400px; }
    .single-tour-wrap .related-tour-wrap .list-item {
      font-size: 12px; }
  .btn-booking {
    font-size: 18px; }
  .bottom-content {
    text-align: center; }
    .bottom-content .tour-list {
      text-align: left; }
    .bottom-content .booking-wrap .contact-wrap {
      margin-bottom: 20px; }
      .bottom-content .booking-wrap .contact-wrap .phone-wrap {
        margin-top: 20px;
        font-size: 18px; }
      .bottom-content .booking-wrap .contact-wrap .img-phone {
        position: relative;
        top: -2px;
        left: 0px;
        max-width: 50px;
        margin-right: 0px; }
      .bottom-content .booking-wrap .contact-wrap .email-wrap {
        margin-top: 20px;
        font-size: 18px; }
      .bottom-content .booking-wrap .contact-wrap .img-email {
        max-width: 50px;
        margin-right: 10px; }
    .bottom-content .related-tour-wrap {
      position: relative; }
      .bottom-content .related-tour-wrap .img-tour-wrap {
        margin-top: 20px; } }

@media (max-width: 767px) {
  .single-tour-wrap h2 {
    font-size: 20px; }
  .single-tour-wrap .tour-content {
    font-size: 14px; }
    .single-tour-wrap .tour-content h3 {
      font-size: 18px; }
  .single-tours .main-banner {
    margin: 15px auto 0 auto; }
  .single-tours .img-tour {
    width: 100%; }
  .single-tours .navbar-header, .single-tours .navbar-default {
    background: transparent; }
  .single-tours .navbar-collapse {
    background: #64612B; } }

.contact-page {
  max-width: 1800px;
  margin: 0 auto; }
  .contact-page .phone-top-2 {
    margin-top: 20px; }
  .contact-page .main-banner {
    margin: 15px auto 0 auto; }
  .contact-page .phone-link {
    color: #fff; }
  .contact-page .phone-top {
    padding-top: 13px;
    padding-bottom: 13px;
    border: 4px solid #7F3B44; }
  .contact-page .img-phone {
    padding-left: 100px;
    padding-right: 100px; }
  .contact-page .phone-area {
    background: #7F3B44;
    border-radius: 0 0 25px 25px;
    padding: 20px 10px 20px 10px;
    color: #fff;
    font-size: 30px;
    text-align: center; }
  .contact-page .contact-top {
    height: 170px;
    border: 4px solid #64612B; }
    .contact-page .contact-top .email-link {
      position: relative;
      top: 10px;
      color: #67696D;
      font-size: 30px; }
    .contact-page .contact-top .img-email {
      max-width: 160px; }
  .contact-page .contact-form-wrap {
    background: #64612B;
    border-radius: 0 0 25px 25px;
    padding: 20px 10px 10px 30px;
    min-height: 200px;
    color: #fff;
    font-size: 16px;
    text-align: left; }
  .contact-page .wpcf7-form {
    max-width: 100%; }
  .contact-page .control-label {
    font-size: 20px;
    margin-right: 50px;
    display: inline-block; }
  .contact-page .wpcf7-form-control {
    display: inline-block;
    width: 73%;
    height: 30px;
    color: #000; }
  .contact-page textarea#comments {
    height: 100px; }
  .contact-page .label-comments {
    position: relative;
    top: -80px;
    margin-right: 15px; }
  .contact-page .submit-wrap {
    text-align: right; }
  .contact-page .wpcf7-submit {
    height: auto;
    margin-right: 50px;
    width: 100px;
    background: #fff;
    color: #64612B;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0px 20px; }

@media (max-width: 1199px) {
  .contact-page .wpcf7-submit {
    margin-right: 20px; }
  .contact-page .img-phone {
    padding-left: 60px;
    padding-right: 60px; } }

@media (max-width: 991px) {
  .img-services-phone {
    padding-left: 60px;
    padding-right: 60px; }
  .contact-page .phone-area {
    font-size: 22px; } }

@media (max-width: 767px) {
  .contact-page .navbar-header, .contact-page .navbar-default {
    background: transparent; }
  .contact-page .navbar-collapse {
    background: #64612B; }
  .contact-page .phone-top {
    height: auto;
    text-align: center; }
  .contact-page .img-phone {
    max-width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; }
  .contact-page .phone-area {
    padding: 20px 10px;
    min-height: 0;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px; }
  .contact-page .contact-top {
    height: auto;
    text-align: center; }
    .contact-page .contact-top .email-link {
      top: 0;
      font-size: 18px; }
    .contact-page .contact-top .img-email {
      max-width: 50px; }
  .contact-page .contact-form-wrap {
    padding: 10px;
    min-height: 200px;
    color: #fff;
    font-size: 16px;
    text-align: left; }
  .contact-page .wpcf7-form {
    max-width: 100%; }
  .contact-page .control-label {
    font-size: 18px;
    margin-right: 20px; }
  .contact-page .wpcf7-form-control {
    width: 100%;
    height: 30px; }
  .contact-page .label-comments {
    top: 0;
    margin-right: 25px; }
  .contact-page .submit-wrap {
    text-align: center; }
  .contact-page .wpcf7-submit {
    height: auto;
    margin-top: 30px;
    margin-right: 0;
    width: 130px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    padding: 0px 20px; } }

.footer {
  background: #67696D;
  padding: 20px; }
  .footer h1 {
    font-size: 16px;
    font-weight: bold; }
  .footer h2 {
    font-size: 16px;
    font-weight: bold; }
  .footer h3 {
    font-size: 14px;
    font-weight: bold; }
  .footer a {
    color: #fff; }
  .footer ul {
    list-style: none; }

.footer img {
  max-width: 100px;
  margin-bottom: 10px; }

.footer .footer-text {
  margin-top: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200; }

.footer .phone:after {
  content: " | ";
  color: #767676; }

.footer .email a {
  color: rgba(255, 255, 255, 0.9); }

.footer-new ul {
  display: block;
  text-align: center; }

.footer-new ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px; }

.footer-new .widget-title {
  display: none; }

.social-icons-wrap {
  padding: 10px;
  text-align: right; }

.social-icons-wrap img {
  width: 40px;
  margin-left: 12px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }

.social-icons-wrap a {
  cursor: pointer; }

.social-icons-wrap a:hover img {
  -webkit-filter: blur(2px); }

@media (max-width: 767px) {
  .footer .footer-text {
    font-size: 14px;
    margin-top: 0; }
  .footer .footer-title {
    display: inline-block;
    padding-bottom: 5px; }
  .footer hr {
    margin-bottom: 30px; }
  .social-icons-wrap {
    text-align: center; }
  .footer-new ul li {
    display: block;
    padding: 4px; } }

body {
  font-family: 'PT Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif; }

.btn-default {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 2px;
  color: #000;
  font-size: 36px;
  font-weight: 300;
  padding: 10px 90px; }

.btn-default:hover, .btn-default:focus, .btn-default.focus,
.btn-default:active, .btn-default.active {
  background: rgba(255, 255, 255, 0.24);
  color: #000; }

@media (max-width: 767px) {
  .btn-default {
    font-size: 23px;
    padding: 7px 40px; } }

.navbar-default {
  background: #64612B; }

.main-logo {
  background: rgba(241, 241, 242, 0.37);
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 10px; }
  .main-logo img {
    width: 100%;
    max-width: 500px; }

#menu-main-menu {
  width: 100%;
  float: none;
  margin: 0 auto;
  text-align: center; }

.navbar {
  min-height: 0; }

.navbar-nav > li {
  float: none;
  font-size: 19px;
  display: inline-block; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover {
  color: #CC904E; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #CC904E; }

.nav > li > a {
  padding: 10px 10px; }

@media (max-width: 1199px) {
  .navbar-nav > li {
    font-size: 16px; } }

@media (max-width: 991px) {
  .navbar-nav > li {
    font-size: 14px; } }

@media (max-width: 767px) {
  .navbar-nav > li {
    display: block; } }

.navbar-default {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }

@media (max-width: 767px) {
  #menu-main-menu {
    padding-top: 15px; }
  #menu-main-menu > li {
    font-size: 18px; }
  .main-logo {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 0px; }
  .main-logo img {
    max-width: 45px; }
  .navbar-toggle {
    margin-top: 15px; }
  .navbar-default .navbar-collapse {
    border-color: #000;
    padding-bottom: 15px; }
  .navbar-default .navbar-toggle {
    border-color: transparent; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
  .navbar-toggle .icon-bar {
    height: 3px; }
  .navbar-default .navbar-toggle {
    border: none;
    background: transparent !important; }
    .navbar-default .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s; }
    .navbar-default .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 5% 0%; }
    .navbar-default .navbar-toggle .middle-bar {
      opacity: 0; }
    .navbar-default .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 0% 90%; }
  .navbar-default .navbar-toggle.collapsed .top-bar {
    transform: rotate(0deg);
    transform-origin: 10% 10%; }
  .navbar-default .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-default .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0deg);
    transform-origin: 20px 10px; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent; } }

.home #page-wrap {
  background: #F1F1F1; }

.home .home-top-border {
  border-top: 15px solid #58595B; }

.flexslider-homepage {
  background: #F1F1F1;
  border: none;
  border-radius: 0;
  margin: 0; }

.flexslider-homepage .flex-viewport {
  max-height: 500px; }

.flexslider-homepage .slides img {
  position: relative; }

.flex-direction-nav a:before {
  font-size: 35px; }

.section-website-links {
  background: #F1F1F1;
  padding: 50px 40px;
  max-width: 1500px;
  margin: 0 auto; }
  .section-website-links a {
    display: block;
    padding: 20px; }

.section-website-links img {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .4s ease-out; }

.section-website-links a:hover img {
  position: relative;
  z-index: 5;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .4s ease-out; }

@media (max-width: 991px) {
  .flexslider-homepage {
    overflow: hidden;
    max-height: 350px; }
  .flexslider-homepage .flex-viewport {
    max-height: 1000px; }
  .flexslider-homepage .slides img {
    top: 0; } }

@media (max-width: 767px) {
  .main-logo {
    margin: 0;
    padding: 10px; }
  .page-wrap {
    position: relative; }
  .navbar-default {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 15; }
  .navbar-header {
    background: #fff; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #64612B; }
  .main-logo {
    background: none;
    position: absolute;
    top: 0;
    z-index: 16;
    max-width: 200px; }
  .main-logo img {
    max-width: 100%; }
  .flexslider-homepage {
    max-height: 450px; }
  .section-website-links {
    padding: 0; }
  .section-website-links a:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.book-a-tour-wrap {
  position: relative;
  width: 100%;
  z-index: 9;
  color: #fff; }

.book-a-tour {
  position: absolute;
  top: -55px; }

.book-img-wrap img {
  height: 55px;
  width: auto; }

@media (max-width: 991px) {
  .book-a-tour {
    top: -35px; }
  .book-img-wrap img {
    height: 35px; } }

@media (max-width: 767px) {
  .book-a-tour {
    top: -20px; }
  .book-img-wrap img {
    height: 20px; } }
