/*
Theme Name: GRapps - Namaskar
Theme URI: http://grapps.io
Description: Client Website - HP
Author: Jhonatan Cohen
Author URI: http://grapps.io
Version: 1.0.0
*/

@media screen {

* { margin: 0; padding: 0; }
body { background: white; font: 14px/1.4 Georgia, Serif; }
//.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */
html {
    width: 100%;
}
    body {
        width: 100%;
    }
//#page-wrap { width: 960px; margin: 20px auto; }

h1, h2, h3 { font-weight: normal; margin: 0 0 10px 0; }
h1 { }
h2 { }
h3 { }

p { margin: 0 0 10px 0; }
a { }
a:hover { }

img {
    width: 100%;
    height: auto;
}

blockquote { }
blockquote p { }

ul, ol { margin: 0 0 10px 0; }

.post { }

.entry { }
.entry a { }
.entry a:hover { }

pre { }
code, tt { }

#meta { }
.postmetadata { }

#sidebar { }

.navgation { }
   .next-posts { }
   .prev-posts { }

#searchform { }
	#s { }
	#searchsubmt { }
	
ol.commentlist { list-style: none; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { border-bottom: 1px dotted #666; padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { float:right; margin: 0 0 10px 10px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 10px; }
ol.commentlist li.comment div.comment-meta a { color: #ccc; }
ol.commentlist li.comment p { }
ol.commentlist li.comment ul { }
ol.commentlist li.comment div.reply { font-size: 11px; }
ol.commentlist li.comment div.reply a { font-weight: bold; }
ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 { border-left: 5px solid #555; margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 { border-left: 5px solid #999; margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 { border-left: 5px solid #bbb; margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { }
ol.commentlist li.even { background: #fff; }
ol.commentlist li.odd { background: #f6f6f6; }
ol.commentlist li.parent { border-left: 5px solid #111; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

form { }
input[type=text] { }
textarea { }

} /* END screen media */

@media print {

.do-not-print { display: none; }
#comments { page-break-before: always; }

body { width: 100% !important; margin: 0 !important; padding: 0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 19pt; }
h2 { font-size:17pt; }
h3 { font-size:15pt; }
h4,h5,h6 { font-size:12pt; }
code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em; }
img { display: block; margin: 1em 0; }
a img { border: none; }
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th, td { padding: 4px 10px 4px 0; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; } 
a { text-decoration: none; color: black; }
	
} /* END print media */




// =======================================
// ==== Adding all of the partials =======
// =======================================
@import "css/bits";
@import "css/404";
@import "css/tourPages";
@import "css/services";
@import "css/singleTour";
@import "css/contact";

@import "css/footer";

// =======================================
// ==== END: Adding all of the partials ==
// =======================================





// =======================================
// ========== END: Admin Section =========
// =======================================

// =======================================
// ==========  General Elements ==========
// =======================================
body{
    font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Sans', sans-serif;
}

.btn-default {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 2px;
    color: #000;
    font-size: 36px;
    font-weight: 300;
    padding: 10px 90px;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus,
.btn-default:active, .btn-default.active {
    background: rgba(255, 255, 255, 0.24);
    color: #000;
}



@media (max-width: $screen-xs-max) {
    .btn-default {
        font-size: 23px;
        padding: 7px 40px;
    }
}
// =======================================
// ====== END: General Elements ==========
// =======================================

// =======================================
// ==========  Main Menu =================
// =======================================
.navbar-default {
    background: $green;
}

.main-logo {
    background: rgba(241, 241, 242, 0.37);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom:10px;
    img {
        width: 100%;
        max-width: 500px;
    }
}

#menu-main-menu {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.navbar {
    min-height: 0;
}

.navbar-nav>li {
    float: none;
    font-size: 19px;
    display: inline-block;

}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: $orange;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: $orange;
}

.nav>li>a {
    padding: 10px 10px;
}

@media (max-width: $screen-md-max) {
    .navbar-nav>li {
        font-size: 16px;
    }

}

@media (max-width: $screen-sm-max) {
    .navbar-nav>li {
        font-size: 14px;
    }

}



@media (max-width: $screen-xs-max) {
    .navbar-nav>li {
        //float: right;
        display: block;
    }
}

.navbar-default {
    margin-bottom:0;
    border: none;
    border-radius: 0;
}


@media (max-width: $screen-xs-max) {
    #menu-main-menu {
        padding-top: 15px;

    }
    #menu-main-menu > li {
        font-size: 18px;
    }
    .main-logo {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .main-logo img {
        max-width: 45px;
    }

    .navbar-toggle {
        margin-top: 15px;
    }
    .navbar-default .navbar-collapse {
        border-color: #000;
        padding-bottom: 15px;

    }
    .navbar-default .navbar-toggle{
        border-color:transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#fff;
    }
    .navbar-toggle .icon-bar {
        height: 3px;
    }

    .navbar-default .navbar-toggle {
        border: none;
        background: transparent !important;

        .icon-bar {
            width: 22px;
            transition: all 0.2s;
        }
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 5% 0%;
        }
        .middle-bar {
            opacity: 0;
        }
        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 0% 90%;
        }
    }
    .navbar-default .navbar-toggle.collapsed {
        .top-bar {
            transform: rotate(0deg);
            transform-origin: 10% 10%;
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(-0deg);
            transform-origin: 20px 10px;
        }
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}


// =======================================
// ========== HomePage ===================
// =======================================

.home #page-wrap {
    background: #F1F1F1;
}
.home .home-top-border {
    border-top: 15px solid #58595B;
}
.flexslider-homepage {
    background: #F1F1F1;
   border: none;

    border-radius: 0;
    margin: 0;
    //max-width: 1500px;
    //margin: 0 auto;
}
.flexslider-homepage .flex-viewport {
    max-height: 500px;
}


.flexslider-homepage .slides img {
    position: relative;
    //top: -150px;
}

.flex-direction-nav a:before {
    font-size: 35px;
}


.section-website-links {
    background: #F1F1F1;
    padding: 50px 40px;
    max-width: 1500px;
    margin: 0 auto;
    a {
        display: block;
        padding: 20px;
    }
}
.section-website-links img {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .4s ease-out;
}
.section-website-links a:hover img {
    position: relative;
    z-index:5;
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .4s ease-out;
}



@media (max-width: $screen-sm-max) {
    .flexslider-homepage {
        overflow: hidden;
        max-height: 350px;
    }
    .flexslider-homepage .flex-viewport {
        max-height: 1000px;
    }
    .flexslider-homepage .slides img {
        top: 0;
    }
}


@media (max-width: $screen-xs-max) {
    .main-logo {
        margin: 0;
        padding: 10px;
    }
    .page-wrap {
        position: relative;
    }
    .navbar-default {
        //background: #fff;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 15;
    }
    .navbar-header {
        background: #fff;

    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: $green;
    }
    .main-logo {
        background: none;
        position: absolute;
        top: 0;
        z-index: 16;
        max-width: 200px;
    }
    .main-logo img {
        max-width: 100%;
    }
    .flexslider-homepage {
        max-height: 450px;
    }
    .section-website-links {
        padding: 0;
    }
    .section-website-links a:hover img {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);
    }
}


.book-a-tour-wrap {
    position: relative;
    width: 100%;
    z-index: 9;
    color: #fff;
}
.book-a-tour {
    position: absolute;
    top: -55px;
}
.book-img-wrap img {
    height: 55px;
    width: auto;
}

@media (max-width: $screen-md-max) {

}

@media (max-width: $screen-sm-max) {
    .book-a-tour {
        top: -35px;
    }
    .book-img-wrap img {
        height: 35px;
    }
}

@media (max-width: $screen-xs-max) {

    .book-a-tour {
        top: -20px;
    }
    .book-img-wrap img {
        height: 20px;
    }
}

// =======================================
// ========== END: Main Menu =============
// =======================================

@media (max-width: $screen-md-max) {

}

@media (max-width: $screen-sm-max) {

}

@media (max-width: $screen-xs-max) {


}