
// =======================================
// ======== 404 page =====================
// =======================================

.wrap-404 {
    background: url("img/bg_header2.jpg")  no-repeat center top ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 90vh;
    color: #000;

    h2 {
        font-weight: bold;
    }
    .btn-wrap {
        margin-top: 40px;
        color: #000;
    }
}

// =======================================
// ======= END: 404 page =================
// =======================================
