
// =======================================
// ======== Contact page =================
// =======================================
.contact-page {

    .phone-top-2 {
        margin-top: 20px;
    }
    max-width: 1800px;
    margin: 0 auto;
    .main-banner {
        margin: 15px auto 0 auto;
    }
    .phone-link {
        color: #fff;
    }
    .phone-top {
        padding-top: 13px;
        padding-bottom: 13px;
        //height: 170px;
        border: 4px solid #7F3B44;
    }
    .img-phone {
        padding-left: 100px;
        padding-right: 100px;

    }
    .phone-area {
        background: #7F3B44;
        border-radius: 0 0 25px 25px;
        padding: 20px 10px 20px 10px;
        //min-height: 150px;
        color: #fff;
        font-size: 30px;
        text-align: center;
    }

    .contact-top {
        height: 170px;
        border: 4px solid #64612B;
        .email-link {
            position: relative;
            top: 10px;
            color: #67696D;
            font-size: 30px;
        }
        .img-email {
            max-width: 160px;
        }
    }
    .contact-form-wrap {
        background: #64612B;
        border-radius: 0 0 25px 25px;
        padding: 20px 10px 10px 30px;
        min-height: 200px;
        color: #fff;
        font-size: 16px;
        text-align: left;
    }
    .wpcf7-form {
        max-width: 100%;
    }
    .control-label {
        font-size: 20px;
        margin-right: 50px;
        display: inline-block;
    }
    .wpcf7-form-control {
        display: inline-block;
        width: 73%;
        height: 30px;
        color: #000;
    }

    textarea#comments {
        height: 100px;
    }
    .label-comments {
        position: relative;
        top: -80px;
        margin-right: 15px;
    }
    .submit-wrap {
        text-align: right;
    }
    .wpcf7-submit {
        height: auto;
        margin-right: 50px;
        width: 100px;
        background: #fff;
        color: #64612B;
        font-size: 30px;
        font-weight: bold;
        border-radius: 15px;
        padding: 0px 20px;
    }






}







@media (max-width: $screen-md-max) {
    .contact-page {
        .wpcf7-submit {
            margin-right: 20px;
        }
        .img-phone {
            padding-left: 60px;
            padding-right: 60px;

        }
    }

}

@media (max-width: $screen-sm-max) {
    .img-services-phone {
        padding-left: 60px;
        padding-right: 60px;

    }
    .contact-page{
        .phone-area {
            font-size: 22px;

        }
    }


}

@media (max-width: $screen-xs-max) {
    .contact-page {
        .navbar-header, .navbar-default {
            background: transparent;
        }
        .navbar-collapse {
            background: #64612B;
        }



        .phone-top {
            height: auto;
            text-align: center;
        }

        .img-phone {
            max-width: 100px;
            padding-top: 10px;
            padding-bottom: 10px;

            padding-left: 10px;
            padding-right: 10px;
        }
        .phone-area {
            padding: 20px 10px;
            min-height: 0;
            color: #fff;
            font-size: 25px;
            text-align: center;
            margin-bottom:30px;
        }


        .contact-top {
            height: auto;
            text-align: center;
            .email-link {
                top: 0;
                font-size: 18px;
            }
            .img-email {
                max-width: 50px;
            }
        }

        .contact-form-wrap {
            padding: 10px;
            min-height: 200px;
            color: #fff;
            font-size: 16px;
            text-align: left;
        }
        .wpcf7-form {
            max-width: 100%;
        }
        .control-label {
            font-size: 18px;
            margin-right: 20px;
        }
        .wpcf7-form-control {
            width: 100%;
            height: 30px;
        }

        .label-comments {
            top: 0;
            margin-right: 25px;
        }
        .submit-wrap {
            text-align: center;
        }
        .wpcf7-submit {
            height: auto;
            margin-top: 30px;
            margin-right: 0;
            width: 130px;
            font-size: 30px;
            font-weight: bold;
            border-radius: 15px;
            padding: 0px 20px;
        }


    }
}

// =======================================
// === END: Contact page =================
// =======================================
