


// =========================================================================
// ======= Footer (don't effect home page and speakers page) ===============
// =========================================================================


.footer {
  background: $grey;
  padding: 20px;
  h1 {
    font-size: 16px;
    font-weight: bold;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
  }
  a {
    color: #fff;
  }
  ul {
    list-style: none;
  }
}

.footer img {
  max-width: 100px;
  margin-bottom: 10px;
}

.footer .footer-text {
  margin-top: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 200;
}

.footer .phone:after {
  content: " | ";
  color: #767676;
}
.footer .email a {
  color: rgba(255, 255, 255, 0.9);
}

.footer-new ul {
  display: block;
  text-align: center;
}

.footer-new ul li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}
.footer-new .widget-title{
  display: none;
}

.social-icons-wrap {
  padding: 10px;
  text-align: right;
}

.social-icons-wrap img {
  width: 40px;
  margin-left: 12px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.social-icons-wrap a {
  cursor: pointer;
}
.social-icons-wrap a:hover img {
  -webkit-filter: blur(2px);
}

@media (max-width: $screen-xs-max) {

  .footer .footer-text {
    font-size: 14px;
    margin-top:0;
  }
  .footer .footer-title {
    display: inline-block;
    padding-bottom: 5px;
  }
  .footer hr {
    margin-bottom: 30px;
  }
  .social-icons-wrap {
    text-align: center;
  }
  .footer-new ul li {
    display: block;
    padding: 4px;
  }
}


// =======================================
// =========== END: Footer ===============
// =======================================


