
// =======================================
// ======== Services & Essentials page ===
// =======================================
.services-page {

    max-width: 1800px;
    margin: 0 auto;
    .main-banner {
        margin: 15px auto 0 auto;
    }
}

.services-wrap {


    padding: 50px;
    h2 {
        color: #CC904E;
        font-size: 28px;
        font-weight: bold;
        margin-bottom:25px;
    }
    .content-wrap {
        font-size: 18px;
        color: #67696D;

    }
    .side-wrap {
        margin-top:50px;
    }
    .img-services-wrap {
        border: 2px solid #185A69;
        max-width: 400px;
    }

    .side-content {
        max-width: 400px;
        background: #185A69;
        padding: 50px 10px 40px 25px;
        border-radius: 0 0 25px 25px;
        //min-height: 250px;
        color: #fff;
        font-size: 26px;
        a {
            color: #fff;
        }

        .phone-wrap {
            margin-bottom: 20px;
        }
        .img-phone {
            max-width: 70px;
            margin-right: 20px;
        }
        .img-email {
            max-width: 80px;
            margin-right: 10px;
        }
    }

}

@media (max-width: $screen-md-max) {
    .services-wrap {
        .side-content {

            font-size: 18px;
            .img-phone {
                max-width: 40px;
                margin-right: 20px;
            }
            .img-email {
                max-width: 50px;
                margin-right: 10px;
                margin-left: -5px;
            }
        }

    }
}

@media (max-width: $screen-sm-max) {
    .services-wrap {
        padding: 20px 15px;
        h2 {
            font-size: 20px;
            margin-bottom:10px;
        }
        .content-wrap {
            font-size: 14px;

        }
        .img-services-wrap {
            margin: 0 auto;
        }
        .side-content {
            margin: 0 auto;
        }

    }
    .service-page .service-page {
        .img-phone {
            padding-left: 0;
            padding-right: 0;

        }
    }
}

@media (max-width: $screen-xs-max) {
    .services-page {
        .navbar-header, .navbar-default {
            background: transparent;
        }
        .navbar-collapse {
            background: #64612B;
        }

    }
}

// =======================================
// === END: Services & Essentials page ===
// =======================================
