
// =======================================
// ======== Single Tours Page ============
// =======================================

.single-tour-wrap {
    padding: 50px 20px;
    max-width: 1800px;
    margin: 0 auto;
    .main-banner {
        margin: 20px auto 0 auto;
    }
    h2 {
        color: #CC904E;
        font-weight: bold;
        margin-bottom:15px;
    }

    .tours-wrap {
        padding: 50px;
    }
    .tour-wrap {
        margin-bottom: 50px;
    }
    .tour-wrap a {
        text-decoration: none;
    }
    .tour-title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #CC904E;
        margin-bottom:10px;

    }
    .img-tour-wrap {
        max-height: 220px;
        overflow: hidden;
    }
    .img-tour {
        width: 400px;
    }

    .tour-list {
        list-style: none;
        padding: 20px 20px 40px 20px;
        border-radius: 0 0 25px 25px;
        min-height: 250px;
    }
    .list-item {
        color: #fff;
        font-size: 20px;
        padding-bottom:10px;
        font-weight: 400;
    }
    .list-item:before {
        content: " ";
        display: inline-block;
        margin-right: 20px;
        width: 15px;
        height: 15px;
        background: url("img/bullet.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .tour-content {
        font-size: 18px;
        color: #67696D;
        h3 {
            font-weight: bold;
        }
    }
    .list-item a {
        color: #fff !important;

    }
    .list-item:hover {
        text-decoration: underline;
    }

    .side-wrap {
        margin-top:50px;
    }

}


.btn-booking {
    border: 1px solid #7F3B44;
    color: #7F3B44;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 15px;
}
.btn-booking:hover {
    color: #fff;
    background: #7F3B44;
}


.bottom-content {
    margin-top: 40px;

    .booking-wrap {
        .contact-wrap {
            a {
                color: #67696D;
            }
            .phone-wrap {
                margin-top: 50px;
                color: #67696D;
                font-size: 22px;
            }
            .phone-wrap-mobile {
                margin-top:30px;
            }
            .img-phone {
                position: relative;
                top: -2px;
                max-width: 70px;
                margin-right: 10px;
            }

            .email-wrap {
                margin-top: 30px;
                color: #67696D;
                font-size: 22px;

            }
            .img-email {
                max-width: 70px;
                margin-right: 10px;
            }
        }
    }


    .related-tour-wrap {
        .img-tour-wrap {
            max-height: 180px;
        }
        .img-tour {

        }
        .tour-list {
            padding: 20px 20px 20px 20px;
            min-height: 200px;
        }
        .list-item {
            font-size: 16px;
        }
        .tour-title {
            position: absolute;
            left: 30px;
            top: 15px;
            color: #fff;
        }
        .list-item a {
            color: #fff !important;

        }
        .list-item:hover {
            text-decoration: underline;
        }
    }
}


.single-tour-wrap {
    .flexslider-single {
        margin: 40px auto;
        max-width: 700px;
    }
}


@media (max-width: $screen-md-max) {
    .single-tour-wrap {
        .tour-list {
            min-height: 250px;
        }
        .tour-title {
            font-size: 22px;
        }
        .list-item {
            font-size: 15px;

        }
        .list-item:before {
            margin-right:10px;
            position: relative;
            top: 2px;
        }

    }
}

@media (max-width: $screen-sm-max) {
    .single-tour-wrap {
        padding: 50px 10px;

        .tour-wrap {
            margin-bottom:50px;
        }
        .tour-list {
            padding: 20px 10px 30px 20px;
            border-radius: 0 0 25px 25px;
            min-height: 0;
        }
        .tour-content {
            font-size: 16px;
            h3 {
                font-size: 18px;
            }
        }
        .list-item {
            font-size: 12px;
        }
        .list-item:before {
            margin-right:10px;
            position: relative;
            top: 2px;
        }
        .related-tour-wrap {
            margin: 0 auto;
            max-width: 400px;
        }
        .tour-wrap {
            max-width: 400px;
            margin: 0 auto;
        }
        .img-tour-wrap{
            max-width: 400px;
        }

        .related-tour-wrap .list-item {
            font-size: 12px;
        }


    }




    .btn-booking {
        font-size: 18px;
    }

    .bottom-content {
        text-align: center;

        .tour-list {
            text-align: left;
        }

        .booking-wrap {
            .contact-wrap {
                margin-bottom: 20px;
                .phone-wrap {
                    margin-top: 20px;
                    font-size: 18px;
                }
                .img-phone {
                    position: relative;
                    top: -2px;
                    left: 0px;
                    max-width: 50px;
                    margin-right: 0px;
                }

                .email-wrap {
                    margin-top: 20px;
                    font-size: 18px;

                }
                .img-email {
                    max-width: 50px;
                    margin-right: 10px;
                }
            }
        }
        .related-tour-wrap {
            position: relative;
            .img-tour-wrap {
                margin-top: 20px;
            }
        }
        .related-tour-wrap .tour-title {

        }
    }


}



@media (max-width: $screen-xs-max) {

    .single-tour-wrap {
        h2 {
            font-size: 20px;
        }
        .tour-content {
            font-size: 14px;
            h3 {
                font-size: 18px;
            }
        }

    }


    .single-tours {
        .main-banner {
            margin: 15px auto 0 auto;
        }
        .img-tour {
            width: 100%;
        }
        .navbar-header, .navbar-default {
            background: transparent;
        }
        .navbar-collapse {
            background: #64612B;
        }

    }

}



// =======================================
// ======= Single Tours Page =============
// =======================================
