
// =======================================
// ======== Tours Pages ==================
// =======================================

.tours-page {
    max-width: 1800px;
    margin: 0 auto;
    .main-banner {
        margin: 20px auto 0 auto;
    }

    .tours-wrap {
        padding: 50px;
    }
    .tour-wrap {
        margin-bottom: 50px;
    }
    .tour-wrap a {
        text-decoration: none;
    }
    .tour-title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #CC904E;
        margin-bottom:10px;

    }
    .img-tour-wrap {
        max-height: 220px;
        overflow: hidden;
    }
    .img-tour {
        width: 400px;
    }

    .tour-list {
        list-style: none;
        padding: 20px 20px 40px 20px;
        border-radius: 0 0 25px 25px;
        min-height: 250px;
    }
    .list-item {
        color: #fff;
        font-size: 20px;
        padding-bottom:10px;
        font-weight: 400;
    }
    .list-item:before {
        content: " ";
        display: inline-block;
        margin-right: 20px;
        width: 15px;
        height: 15px;
        background: url("img/bullet.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .list-item a {
        color: #fff;

    }
    .list-item:hover {
        text-decoration: underline;
    }


}

@media (max-width: $screen-md-max) {
    .tours-page {
        .tour-list {
            min-height: 250px;
        }
        .tour-title {
            font-size: 22px;
        }
        .list-item {
            font-size: 15px;

        }
        .list-item:before {
            margin-right:10px;
            position: relative;
            top: 2px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .tours-page {
        .tour-wrap {
            margin-bottom:50px;
        }
        .tour-list {
            padding: 20px 10px 30px 10px;
            border-radius: 0 0 25px 25px;
            min-height: 200px;
        }
        .tour-title {
            font-size: 20px;
        }
        .list-item {
            font-size: 12px;
        }
        .list-item:before {
            margin-right:10px;
            position: relative;
            top: 2px;
        }
    }
}



@media (max-width: $screen-xs-max) {
    .tours-page {
        .main-banner {
            margin: 15px auto 0 auto;
        }
        .img-tour {
            width: 100%;
        }
        .navbar-header, .navbar-default {
            background: transparent;
        }
        .navbar-collapse {
            background: #64612B;
        }

    }

}


// =======================================
// ======= END: Tours page ===============
// =======================================
