.wp-admin {

    // ==== hide comments ====
    #adminmenu #menu-comments {
        display: none;
        visibility: hidden;
    }

    #wpadminbar #wp-admin-bar-comments {
        display: none;
        visibility: hidden;
    }


    // ==== hide posts =====
    #adminmenu #menu-posts {
        display: none;
        visibility: hidden;
    }

    #wpadminbar #wp-admin-bar-new-post {
        display: none;
        visibility: hidden;
    }


    // ==== hide settings =====
    //#adminmenu #menu-settings {
    //    display: none;
    //    visibility: hidden;
    //}


    // ==== hide ACF "Custom Fields" =====
    //#adminmenu #toplevel_page_edit-post_type-acf-field-group {
    //    display: none;
    //    visibility: hidden;
    //}


    // ==== hide ide Plugins =====
    //#adminmenu #menu-plugins {
    //    display: none;
    //    visibility: hidden;
    //}


    // ===== hide hide Tools =====
    //#adminmenu #menu-tools {
    //    display: none;
    //    visibility: hidden;
    //}


    // check if stylesheet is loaded at all
    //#wpwrap {
    //    background: pink;
    //}





// ========== css to admin side

    .wys_events .acf-editor-wrap iframe {
        max-height: 100px !important;
        height: 100px;
        min-height: 0;
    }
    .wednesday-events-wrapper .acf-repeater .acf-row-handle.order + td {
        border-bottom: 5px solid #FF822E;
    }

}
