.wp-admin #adminmenu #menu-comments {
  display: none;
  visibility: hidden; }

.wp-admin #wpadminbar #wp-admin-bar-comments {
  display: none;
  visibility: hidden; }

.wp-admin #adminmenu #menu-posts {
  display: none;
  visibility: hidden; }

.wp-admin #wpadminbar #wp-admin-bar-new-post {
  display: none;
  visibility: hidden; }

.wp-admin .wys_events .acf-editor-wrap iframe {
  max-height: 100px !important;
  height: 100px;
  min-height: 0; }

.wp-admin .wednesday-events-wrapper .acf-repeater .acf-row-handle.order + td {
  border-bottom: 5px solid #FF822E; }
